<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoJSON Map</title>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class = "page">
    <div id="map"></div>
    <div class="scrollable-list-container">
        <input type="file" id="fileInput" onChange="handleFileSelect()">
        <h2>Search flat in Warsaw</h2>
       <div class="custom-select">
        <div class="select-trigger">Select District</div>
        <div id="options-container" class="options-container checkbox-container">
            <label>
                <input type="checkbox" value="Warszawa, Bemowo">Warszawa, Bemowo</label>
            <label>
                <input type="checkbox" value="Warszawa, Białołęka">Warszawa, Białołęka</label>
            <label>
                <input type="checkbox" value="Warszawa, Bielany">Warszawa, Bielany</label>
            <label>
                <input type="checkbox" value="Warszawa, Mokotów">Warszawa, Mokotów</label>
            <label>
                <input type="checkbox" value="Warszawa, Ochota">Warszawa, Ochota</label>
            <label>
                <input type="checkbox" value="Warszawa, Praga-Południe">Warszawa, Praga-Południe</label>
            <label>
                <input type="checkbox" value="Warszawa, Praga-Północ">Warszawa, Praga-Północ</label>
            <label>
                <input type="checkbox" value="Warszawa, Rembertów">Warszawa, Rembertów</label>
            <label>
                <input type="checkbox" value="Warszawa, Śródmieście">Warszawa, Śródmieście</label>
            <label>
                <input type="checkbox" value="Warszawa, Targówek">Warszawa, Targówek</label>
            <label>
                <input type="checkbox" value="Warszawa, Ursus">Warszawa, Ursus</label>
            <label>
                <input type="checkbox" value="Warszawa, Ursynów">Warszawa, Ursynów</label>
            <label>
                <input type="checkbox" value="Warszawa, Wawer">Warszawa, Wawer</label>
            <label>
                <input type="checkbox" value="Warszawa, Wesoła">Warszawa, Wesoła</label>
            <label>
                <input type="checkbox" value="Warszawa, Wilanów">Warszawa, Wilanów</label>
            <label>
                <input type="checkbox" value="Warszawa, Włochy">Warszawa, Włochy</label>
            <label>
                <input type="checkbox" value="Warszawa, Wola">Warszawa, Wola</label>
            <label>
                <input type="checkbox" value="Warszawa, Żoliborz">Warszawa, Żoliborz</label>
            <label>
                <input type="checkbox" value="Warszawa">Warszawa</label>
        </div>
    </div>
        <div id="options-container-sort">
    <select id="sort-select">
        <option value="newest">sort from latest</option>
        <option value="highest-price">sort from most expensive</option>
        <option value="lowest-price">sort from cheapest</option>
    </select>
</div>
        <ul id="propertyList"></ul>
    </div>
</div>

<script>
    var geojsonData = {{ geojson_data|tojson|safe }};
</script>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
